.Card{
  /* border: 1px solid; */
  background-color: rgb(149, 223, 198);
  box-shadow: 0.3px 0.4vw 1vw ;
  border-radius: 5vw;
  text-align: center;
  padding: 4vw;
  margin: 2vw;
  /* display: inline-block; */

}

.dp{
  width: 30vw;
  border-radius: 50%;
  stroke: bisque;
  box-shadow: 1px 1px 10px;
}

.Cardo{
  /* border: 1px solid; */
  background-color: rgb(149, 223, 198);
  box-shadow: 0.3px 0.4vw 1vw ;
  border-radius: 5vw;
  text-align: center;
  padding: 4vw;
  margin: 2vw;
  display: inline-block;
  width: 7vw;
  height: 6vw;
  overflow: hidden;

}

.pdp{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  stroke: bisque;
  box-shadow: 1px 1px 10px;
}
.prohfo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vh;
}
.descfo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
}